{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">

<!-- ABAIXO FICA A NAVBAR -->
<header>

<nav class="navbar navbar-expand-lg navbar-dark navbar-principal"> <!-- cria barra de navegação -->

<div class="container"> <!-- deixa os espaçamentos padronizados -->
    <a class="navbar-brand me-5" href="#"><strong>DashBoard</strong></a>

    <!-- Botão que esconde o menu quando a tela fica pequena: -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- PARTE DOS LINKS: -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <!-- If para destacar o texto da opção que estiver selecionada -->
            <a class="nav-link {% if request.resolver_match.url_name == 'inicio' %}active{% endif %}" aria-current="page" href="{% url 'inicio' %}">Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'aluno_list' %}active{% endif %}" href="{% url 'aluno_list' %}">Alunos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'turma_list' %}active{% endif %}" href="{% url 'turma_list' %}">Turmas</a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'curso_detail' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cursos
            </a>
            <!-- MENU DE OPÇÕES DENTRO DE UM ITEM DO MENU: -->
            <ul class="dropdown-menu">
                <li><a class="dropdown-item {% if request.resolver_match.url_name == 'curso_detail' and request.resolver_match.kwargs.pk == 1%}active{% endif %}" href="{% url 'curso_detail' 1 %}">Edificações</a></li>
                <li><a class="dropdown-item {% if request.resolver_match.url_name == 'curso_detail' and request.resolver_match.kwargs.pk == 2%}active{% endif %}" href="{% url 'curso_detail' 2 %}">Eletrotécnica</a></li>
                <li><a class="dropdown-item {% if request.resolver_match.url_name == 'curso_detail' and request.resolver_match.kwargs.pk == 3%}active{% endif %}" href="{% url 'curso_detail' 3 %}">Informática</a></li>
                <li><a class="dropdown-item {% if request.resolver_match.url_name == 'curso_detail' and request.resolver_match.kwargs.pk == 4%}active{% endif %}"href="{% url 'curso_detail' 4 %}">Segurança do trabalho</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mais opções
            </a>
            <!-- MENU DE OPÇÕES DENTRO DE UM ITEM DO MENU: -->
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">em desenvolvimento...</a></li>
                <li><a class="dropdown-item" href="#">em desenvolvimento...</a></li>
                <li><a class="dropdown-item" href="#">em desenvolvimento...</a></li>
            </ul>
        </li>
        </ul>
        <!-- BOTOES-ICONES  -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"> <!-- icone de sobre -->
            <a class="nav-link {% if request.resolver_match.url_name == 'sobre' %}active{% endif %}" href="{% url 'sobre' %}" title="Informações"><i class="bi bi-info-circle fs-5" ></i>
            <small class="d-lg-none ms-2">Sobre</small></a></a>
        </li>
        <li class="py-2 py-lg-1 col-12 col-lg-auto"> <!-- separa os dois outros icones -->
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
        </li>
        <li class="nav-item"> <!-- icone do github -->
            <a class="nav-link" href="https://www.youtube.com/watch?v=iHx1lYi8r8Q" target="_blank" title="GitHub"><i class="bi bi-github fs-5"></i>
            <small class="d-lg-none ms-2">GitHub</small></a>
        </li>
        </ul>
    </div>

</div></nav></header>
<!-- NAVBAR ACABA AQUI -->

<!-- ABAIXO FICA O CONTEUDO DO SITE -->
<main class="container text-white mt-4 flex-grow-1">
    {% block content %}
    {% endblock content %}
</main>
<!-- O CONTEUDO ACABA AQUI -->

<!-- ABAIXO FICA O FOOTER -->
<footer class="py-5 text-center footer-principal">
    <span class="text-white">&copy; 2025 - Projeto realizado por alunos</span>
</footer>
<!-- FOOTER ACABA AQUI -->

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</html>